doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  section.logos
    img(src="images/kubernetes.svg" alt="Kubernetes logo")

  footer
    img.habicat-set(src="images/cat.ico" alt="gato morto")
